@{
    ViewData["Title"] = "Home Page";
}
二進位
<div class="container">
    <div class="form-group">
        <label class="form-label">檔案上傳:</label>
        <input id="imageUpload" type="file" accept="image/*" class="form-control" />
    </div>
    <div class="form-group">
        <img id="imgPreview" src="~/images/noimage.png" width="20%" height="20%" />
    </div>

    <div class="form-group">
        <button class="btn btn-primary" onclick="anlyzeImage()">辨識</button>
    </div>
</div>

@section Scripts{

    <script type="text/javascript">
        var arrayBuffer = null;
        $("#imageUpload").on('change', function () {
            var file = this.files[0];
            var allowFileType = "image.*";
            if (file.type.match(allowFileType)) {
                var reader = new FileReader();
                reader.onload = function () {
                    arrayBuffer = this.result;
                    var blob = new Blob([arrayBuffer], { type: "image/jpeg" });
                    var urlCreator = window.URL || window.webkitURL;
                    var objectUrl = urlCreator.createObjectURL(blob);
                    $("#imgPreview").attr("src", objectUrl);
                };
                reader.readAsArrayBuffer(file);
            }
            else {
                alert("圖片格式錯誤");
            }
        })
        function anlyzeImage() {
            $.ajax({
                url: "https://msit150robot-prediction.cognitiveservices.azure.com/customvision/v3.0/Prediction/e9443028-2c31-4ef0-ab32-84acc718be51/classify/iterations/Iteration1/image"/*  + $.param(params) */,
                beforeSend: function (xhrObj) {
                    // Request headers
                    xhrObj.setRequestHeader("Content-Type", "application/octet-stream");//application : 代表二進位相關 application/octet-stream二進位預設值
                    xhrObj.setRequestHeader("Prediction-Key", "47e874b5748149a5b37a6ad8076b8d81");
                },
                type: "POST",
                // Request body
                processData: false,//不要加做處理(因為已經把他轉成二進位了)
                data: arrayBuffer,
            })
                .done(function (data) {
                    var tagName = data['predictions'][0]['tagName'];
                    var confidence = data['predictions'][0]['probability'];
                    alert(`內容:${tagName},信心指數${confidence * 100}`)
                })
                .fail(function (err) {
                    alert(err.statusText);
                });
        }
    </script>
}