@{
    ViewData["Title"] = "Home Page";
}
二進位
<div class="container">
    <div class="form-group">
        <label class="form-label">檔案上傳:</label>
        <input id="imageUpload" type="file" accept="image/*" class="form-control"/>
    </div>
    <div class="form-group">
        <img id="imgPreview" src="~/images/noimage.png" width="20%" height="20%"/>
    </div>

    <div class="form-group">
        <button class="btn btn-primary" onclick="anlyzeImage()">辨識</button>
    </div>
</div>

@section Scripts{

    <script type="text/javascript">
        var arrayBuffer = null;
        $("#imageUpload").on('change', function () {
            var file = this.files[0];
            var allowFileType = "image.*";
            if (file.type.match(allowFileType)) {
                var reader = new FileReader();
                reader.onload = function () { 
                    arrayBuffer = this.result;
                    var blob = new Blob([arrayBuffer], {type:"image/jpeg"});
                    var urlCreator = window.URL || window.webkitURL;
                    var objectUrl = urlCreator.createObjectURL(blob);
                    $("#imgPreview").attr("src", objectUrl);
                };
                reader.readAsArrayBuffer(file);
            }
            else {
                alert("圖片格式錯誤");
            }
        })
        // function anlyzeImage() {
        //     $("#imgPreview").attr("src", $("#imageUrl").val());
        //     var params = {
        //         // Request parameters
        //         "visualFeatures": "Description,Tags",
        //         // "details": "{string}",
        //         "language": "en",
        //         "model-version": "latest",
        //     };
        //     var data = { url: $("#imageUrl").val() };

        //     $.ajax({
        //         url: "https://msit150team02vision.cognitiveservices.azure.com/vision/v3.2/analyze?" + $.param(params),
        //         beforeSend: function (xhrObj) {
        //             // Request headers
        //             xhrObj.setRequestHeader("Content-Type", "application/json");
        //             xhrObj.setRequestHeader("Ocp-Apim-Subscription-Key", "e1b7bcaed4494328a9dc6ab2c461f893");
        //         },
        //         type: "POST",
        //         // Request body
        //         data: JSON.stringify(data),
        //     })
        //         .done(function (data) {
        //             // alert(JSON.stringify(data));
        //             var text = data['description']['captions'][0]['text'];
        //             var confidence = data['description']['captions'][0]['confidence'];
        //             alert(`內容:${text},信心指數:${(confidence * 100).toFixed(2)}%`);
        //         })
        //         .fail(function () {
        //             alert("error");
        //         });
        // }
    </script>
}